# Пример файла переменных
# Скопируйте в terraform.tfvars и заполните своими значениями

folder_id           = "b1g...your_folder_id"
cloud_id           = "b1g...your_cloud_id"
zone                = "ru-central1-a"
kafka_user          = "admin"
kafka_password      = "YourStrongPassword123!"
ssh_public_key_path = "~/.ssh/yandex_cloud.pub"
