BOOTSTRAP_SERVER=<terraform output kafka_hosts>
SCHEMA_REGISTRY_SERVICE_URL=<terraform output schema_registry_urls | head -1>
SASL_USERNAME="admin"
SASL_PASSWORD=<ваш_пароль>
SSL_CA_LOCATION="/etc/ssl/certs/YandexInternalRootCA.pem"
USE_SSL=true
TOPIC=test-topic
ACKS=all
COMPRASSION_TYPE=zstd
GROUP_ID=test-group
AUTO_OFFSET_RESET=earliest
ENABLE_AUTO_COMMIT=false
HOSTNAME=localhost
HDFS_ADDRESSES=<terraform output dataproc_master_ips>
