BOOTSTRAP_SERVER=rc1a-biqqh45jhdg2rhl5.mdb.yandexcloud.net:9091,rc1a-m3ijt9a88f4dotnj.mdb.yandexcloud.net:9091,rc1a-nqqqtde1nll6kb1v.mdb.yandexcloud.net:9091
SCHEMA_REGISTRY_SERVICE_URL="https://rc1a-biqqh45jhdg2rhl5.mdb.yandexcloud.net:443"
SASL_USERNAME="admin"
SASL_PASSWORD="sdjfh&73jdsf38"
SSL_CA_LOCATION="/etc/ssl/certs/YandexInternalRootCA.pem"
USE_SSL=true
TOPIC=test-topic
ACKS=all
COMPRASSION_TYPE=zstd
GROUP_ID=test-group
AUTO_OFFSET_RESET=earliest
ENABLE_AUTO_COMMIT=false
HOSTNAME=localhost
HDFS_ADDRESSES=93.77.187.134